<div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">Foro de versión de archivo</h2>
    <button></button>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>
<mat-dialog-content class="px-1">

    <div class="flex flex-col">
        <div class="flex-1">
            <div class="user-profile">
                <div class="user-pic"></div>
                <div class="user-name">
                    User Name
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="user-list">
                <mat-list>
                    <mat-list-item>
                        <mat-icon class="mat-list-icon">account_circle</mat-icon>
                        <div mat-line>user.name</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>

        <div class="">
            <mat-list>
                <mat-list-item>
                    <div mat-line>
                        <div class="user-icon">
                            <mat-icon mat-list-icon color="primary">portrait</mat-icon>
                        </div>
                        <div class="message-text">
                            <div class="user-date-label"><span>chat.userName</span> 9.18 am</div>
                            <div class="message">chat.message</div>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
    
            <div class="">
                <div class="inline-block">
                    <mat-form-field appearance="outline">
                        <mat-label>Mensaje</mat-label>
                        <input matInput placeholder="Ingresa tu comentario" class="chat-input">
                    </mat-form-field>
                </div>
                <div class="button-container inline-block">
                    <button class="mat-mini-fab">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div> 

</mat-dialog-content>