<vex-page-layout>
    <vex-page-layout-content class="-mt-6">
        <div class="mt-4 flex flex-col items-center justify-center gap-2">
            <h1 class="title mt-0 mb-1">Mesa de validación</h1>
            <h2 class="mt-0 mb-5">Partida - Proceso - Área - Periodo</h2>
            
            <div class="mb-5" *ngFor="let data of dummyData">
                <p class="inline-block font-bold">Fecha:</p><p class="inline-block">&nbsp;{{data.fecha | date}}</p>

                <div class="align-middle inline-block">
                    <img 
                        src="../../../assets/img/down-arrow.png" 
                        alt="line"
                        class="w-5 h-150 ml-5 mb-1"
                    >
                    <button 
                        mat-fab 
                        color="primary" 
                        class="mat-focus-indicator mat-fab mat-button-base mat-primary w-5 h-5 ml-5"
                    ></button>
                </div>

                <mat-card class="inline-block ml-5 items-stretch">
                    <mat-card-header>
                        <mat-card-title>{{data.titulo}}</mat-card-title>
                        <mat-card-subtitle>{{data.subtitulo}}</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <mat-card-content class="ml-3">
                        <p>{{data.descripcion}}</p>
                    </mat-card-content> -->
                    <mat-card-actions class="ml-5">
                        <button 
                            class="mat-raised-button mat-focus-indicator mat-button-base mat-primary"
                            (click)="detalles(data.id)"
                        >
                            Detalles
                        </button>
                        <button 
                            class="mat-button mat-focus-indicator mat-button-base mat-accent"
                            (click)="comentarios(data.id)"
                        >
                            Comentarios
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>


  