<form>
    <div class="flex flex-row mt-5">
        <div class="flex flex-col w-3/6">
            <div class="ml-8">
                <mat-form-field class="w-10/12">
                    <mat-label>Descripción Corta</mat-label>
                    <input 
                        type="text" 
                        formControlName="titulo" 
                        matInput 
                        required
                    >
                </mat-form-field>
    
                <mat-form-field class="w-10/12">
                    <mat-label>Descripción Larga</mat-label>
                    <input type="textarea"  matInput required>
                    <textarea matInput formControlName="descripcion" required></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="flex flex-row space-x-4">
            <div 
                class="border-2 border-black border-dotted w-56 h-16 rounded text-center 
                cursor-pointer transition duration-500 hover:text-white hover:bg-gray-400 
                hover:border-gray-400 hover:border-solid text-xl"
                (dragend)="isDragover = false"
                (dragover)="isDragover = true"
                (dragenter)="isDragover = true"
                (dragleave)="isDragover = false"
                (mouseleave)="isDragover = false"
                (drop)="storeFile($event)"
                vexEventBlockerDirective
                [ngClass]="{
                    'bg-gray-400 border-gray-400 border-solid': isDragover
                }"
            >
                <p class="text-orange-600">
                    Subir archivo editable
                </p>
                <input 
                    type="file"
                    (change)="storeFile($event)"
                    class="block text-sm border border-gray-300 rounded-lg cursor-pointer w-full mt-2"
                >
            </div>

            <div 
                class="border-2 border-black border-dotted w-56 h-16 rounded text-center 
                cursor-pointer transition duration-500 hover:text-white hover:bg-indigo-400 
                hover:border-indigo-400 hover:border-solid text-xl"
                (dragend)="isDragover = false"
                (dragover)="isDragover = true"
                (dragenter)="isDragover = true"
                (dragleave)="isDragover = false"
                (mouseleave)="isDragover = false"
                (drop)="storeFile($event)"
                vexEventBlockerDirective
                [ngClass]="{
                    'bg-indigo-400 border-indigo-400 border-solid': isDragover
                }"
            >
                <p class="text-orange-600">
                    Subir archivo firmado
                </p>
                <input 
                    type="file" 
                    (change)="storeFile($event)"
                    class="block text-sm border border-gray-300 rounded-lg cursor-pointer w-full mt-2"
                >
            </div>
        </div>
    </div>

    <div class="flex justify-center item-center mb-3 mt-3">
        <button 
            class="bg-green-500 hover:bg-green-600 mat-raised-button" 
            color="success" 
            type="submit"
        >
            Agregar Actividad
        </button>
    </div>
</form>

